body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 36px;
    color: black;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

h1 {
  font-size: 100px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

h2 {
  font-size: 52px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-size: 28px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}