body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}