body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    color: gray;
    background-color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
}

h1 {
  font-size: 100px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: red;
}

table {
  border-collapse: collapse;
  top: 86vh;
  position: fixed;
  float: left;
}

tbody {

}

td {
  height: 52px;
  border-right: 57px solid #1a0000;
  border-left: 57px solid #1a0000;
  font-size: 21px;
  width: auto;
  background-color: #1a0000;
}



.mySlides {
  display: none;
}

.purposecontainer {
  width: 1000px;
}

#container {
  width: 600px;
  height: 615px;
  position: relative;
}

#image {
  position: absolute;
}

#name {
  position: absolute;
  color: white;
  font-size: 72px;
  left: 15px;
  top: 445px;
}

#bio {
  position: absolute;
  color: black;
  font-size: 15px;
  left: 620px;
  top: 130px;
  text-align: left;
  width: 50%;
}

#role {
  position: absolute;
  color: black;
  font-size: 24px;
  left: 620px;
  top: -20px;
  text-align: left;
  width: fit-content;
}